extends layout
include buslist
include header
include filters

block content
  +header(backUrl, title)
  if filter == 'all' && showFilters
    +filters(thisUrl, filterTitle, staleTitle, oosTitle, showRetiredFilter)
  each series in busSeries
    if series.busCount > 0
      section(class='accordion')
        input(type='checkbox', id=series.id, checked=totalCount < 20)
        label(for=series.id) #{series.id} series
          span #{series.busCount} bus#{series.busCount != 1 ? 'es' : ''}
        +buslist(series.buses, showRoute, showGarage)
  div(class='tableCount') #{totalCount} total bus#{totalCount != 1 ? 'es' : ''}