extends layout

block content
  nav
    a(href=backUrl) &lsaquo; Back
    h1= title
  if filter == 'all' && series
    ul
      li
        a(href=`/series/${series.id}/in-service`) #{series.id}-series buses currently in service&nbsp;&raquo;
      li
        a(href=`/series/${series.id}/2-weeks`) #{series.id}-series buses 2+ weeks out of service&nbsp;&raquo;
      li
        a(href=`/series/${series.id}/out-of-service`) #{series.id}-series buses 1+ month out of service&nbsp;&raquo;
  table(cellspacing='0')
    tr
      th Bus
      th First Seen
      th Last Seen
      th Route
      th Block ID
      th Garage
    each bus in buses
      tr(class= bus.isInService ? 'in-service' : bus.isOutOfService ? 'out-of-service' : '')
        td= bus.vid
        td= bus.firstSeen
        td= bus.lastSeen
        td= bus.route
        td= bus.blockId
        td= bus.garage
  div(class='tableCount') #{busCount} bus#{busCount != 1 ? 'es' : ''}