extends layout

block content
  header
    h1= title
    p= subtitle
    p= updateFreq
  ul
    each item in series
      li
        a(href=`/series/${item.id}`)
          h4 #{item.id} series &raquo;
          span= item.description
    li
      a(href='/garage') Buses by garage &raquo;
    li
      a(href='/route') Buses by route &raquo;
    li
      a(href='/series/all') All buses &raquo;