extends layout

block content
  header
    h1= title
    p= subtitle
    p= updateFreq
  ul
    each item in series
      li
        a(href=`/series/${item.id}/all`)
          h4 #{item.id} series &raquo;
          span= item.description
    li
      a(href='/series/all/in-service') All buses currently in service&nbsp;&raquo;
    li
      a(href='/series/all/2-weeks') All buses 2+ weeks out of service&nbsp;&raquo;
    li
      a(href='/series/all/out-of-service') All buses 1+ month out of service&nbsp;&raquo;
    li
      a(href='/series/all/all') All buses &raquo;
    li
      a(href='/roster/') Garage rosters &raquo;