extends layout

block content
  nav
    a(href=backUrl) &lsaquo; Back
    h1= title
  if filter == 'all' && garage
    div(id='filtersPlaceholder')
      ul
        li
          a(onclick=`showHideDivs('filters', 'filtersPlaceholder')`) Show filters
    div(id='filters')
      ul
        li
          a(href=`/roster/${garage.sticker}/in-service`) #{garage.name} buses currently in service&nbsp;&raquo;
        li
          a(href=`/roster/${garage.sticker}/stale`) #{garage.name} buses #{staleTitle}&nbsp;&raquo;
        li
          a(href=`/roster/${garage.sticker}/out-of-service`) #{garage.name} buses #{oosTitle}&nbsp;&raquo;
        li
          a(href=`/roster/${garage.sticker}/note`) #{garage.name} buses with notes&nbsp;&raquo;
  each series in garage.series
    if series.busCount > 0
      h2 #{series.id} series (#{series.busCount} bus#{series.busCount != 1 ? 'es' : ''}) 
      table(cellspacing='0')
        tr
          th Bus
          th First Seen
          th Last Seen
          th Route
          th Block ID
        each bus in series.buses
          tr(class= bus.isInService ? 'in-service' : bus.isOutOfService ? 'out-of-service' : '')
            if bus.note
              td
                a(onclick=`showNote('${bus.vid}', '${bus.note}')`) #{bus.vid}
            else
              td= bus.vid
            td= bus.firstSeen
            td= bus.lastSeen
            td= bus.route
            td= bus.blockId
  div(class='tableCount') #{garage.busCount} total bus#{garage.busCount != 1 ? 'es' : ''}